html {
    width: 100%;
}

.selector-form {
    margin: 30px 0;

    h2 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        position: relative;
    }

    p {
        line-height: 1.6;
    }
}

.form-wrapper {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    
    .btn {
        margin-bottom: 20px;
    }
}


.form-select {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    font-size: 15px;
    

    option {
        font-size: 15px;
    }
}

.jurisdiction:not(:last-of-type),
.topic:not(:last-of-type) {
    border-bottom: 2px solid lightgray;
}

.jurisdiction, .topic {
    padding: 25px;
    padding-bottom: 0;
    
    select {
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    
    .jWrap, .tWrap {
        display: flex;
    }
}

.numbers {
    width: 12px;
    height: 12px;
    border: 15px solid $siteColor;
    color: white;
    border-radius: 50%;
    position: relative;
    margin-right: 12px;

    p {
        position: absolute;
        top: -13px;
        left: -5px;
        font-size: 17px;
    }
}

.noborder {
    border: 0!important;

    &:focus {
        box-shadow: none!important;
    }
}

.next-button {
    background-color: $siteColor !important;


    &:hover {
        background-color: $siteHoverColor !important;
        transition: 0.3s;
    }

    a:link, a:visited {
        color: white;
        text-decoration: none;
        cursor: auto;
    }
}

.linkDisabled {
    pointer-events: none;
    cursor: default;
}

.description {
    word-wrap: break-word;

    h3 {
        background: rgb(230,82,59);
        background: $gradient;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 10px 0 !important;
        font-size: 22px;
    }

    p {
        font-size: 15px;
        text-indent: 10px;
    }
}

.topicDisabled {
    background-color: whitesmoke;
    border-radius: 5px;
    color: darkgray;

    .numbers {
        border-color: darkgray;
    }
}

.form-select:focus {
    border: 0;
    box-shadow: 0 0 3pt 2pt $siteColor; 
    outline: none;
}

.fade-enter-active {
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}

button a {
    cursor: pointer!important;
}

.btn {
    border-color: #fff!important;
}

.flex {
    display: flex;
}

.selected {
    display: flex;
    align-items: center;
    height: 29px;
    position: relative;
    top: -10px;
    left: 3px;
    
    p {
        font-size: 13px;
        margin: 0 5px;
    }
}

.info {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;

    p {
        font-size: 13px;
        margin-bottom: 0;
        padding: 10px;
        text-indent: 15px;
    }

    img {
        position: absolute;
        top: -10px;
        left: -10px;
    }
}

.dropdown-item {
    width: 180px!important;
}