// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'form/form.scss';
@import 'clauses/clauses.scss';
@import 'dashboard/dashboard.scss';
@import 'company/company.scss';
@import 'company/companyNav.scss';
@import 'additional/additional.scss';
@import 'desktop.scss';

* {
    font-family: $font-family;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.custom-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: $siteColor;
    color: #fff;
    border-radius: 15px;
    transition: 0.5s;

    p {
        margin-bottom: 0;
    }
}