$breakpoint-desktop: 1024px;

@media (min-width: $breakpoint-desktop) {
    .selector-form {
        display: grid;
        grid-template-columns: minmax(200px, 500px) 1fr;
    }

    .form-wrapper {
        position: relative;
    }

    .description {
        background: whitesmoke;
        position: absolute;
        top: 0;
        left: 510px;
        width: 500px;

        p {
            padding: 0 10px;
        }
    }

    .clauses-description {
        background: #fff;
    }

    .drag-el {
        .numbers {
            p {
                left: -24px;
            }
        }
    }

    .selected {
        top: -11px;
        left: 37px;
    }

    .menu-icon {
        display: none;
    }

    .options {
        position: initial;
        background-color: unset;
    }

    .options-wrapper {
        display: flex;
    }

    .menu-link {
        margin-right: 7px;
    }

    .logos {
        display: flex;

        :first-child {
            margin-right: 20px;
        }
    }

    .company-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .company-dashboard {
        display: flex;
        align-items: flex-start;
        max-width: 1800px;
        margin: 0 auto;

        .dashboard-nav {
            width: 650px;
        }

        .dashboard {
            width: 100%;
            background-color: #f3f3f3;
            margin-top: 21px;
        }

        .dashboard-data-company {
            background: #f3f3f3;
        }

        .dashboard-data-company,
        .new-value-form,
        .dashboard-button {
            max-width: 700px;
        }
    }

    .edit-details-form {
        width: 450px;

        .company-inputs > input,
        .edit-company-buttons {
            width: 350px;
        }
    }
}