.unincluded-clauses,
.included-clauses {
    background-color: #eee;
    border-radius: 5px;
    
    h5 {
        background: rgb(230,82,59);
        background: $gradient;
        color: white;
        padding: 13px 0;
        text-align: center;
        border-bottom: 1px solid #e6523bb0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 19px;
    }
}

.drop-zone {
    padding: 10px;
}

.drag-el {
    cursor: grab;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 7px;

    p {
        margin-bottom: 0;
    }

    .numbers {
        border: 13px solid $siteColor;
        margin-right: 5px;

        p {
            font-size: 16px;
            left: -15px;
            top: -12px;
        }
    }
}

.drag-el:last-of-type {
    margin-bottom: 0;
}

.drag-el:first-of-type {
    margin-top: 0;
}

.unincluded-clauses {
    margin: 25px 0;
}