.dashboard-title {
    background-color: #eee;
}

.company-dashboard {
    .dashboard {
        background-color: #f3f3f3;
        margin: 0 15px;
        padding: 10px 0;
        border-radius: 5px;
    }

    .dashboard-data-company,
    .new-value-form {
        padding: 0 20px;
    }

    .dashboard-data-company {
        font-size: 15px;
        border-radius: 5px;
    
        .dashboard-row {
            display: flex;
            padding: 10px 15px;

            &:not(:last-of-type) {
                border-bottom: 1px solid #0000003b;
            }
        }
    
        .dashboard-col {
            width: 50%;
        }

        .edit-company-details {
            text-align: right;
            margin: 5px 0;
        }
    }

    .dashboard-button {
        margin: 10px 15px;
        border: 0;
    }

    .new-value-form {
        margin: 10px 0;

        .dashboard-button {
            margin: 0;
        }
    }
}

.select-parameter {
    width: 50%;
}

.dashboard-col-options {
    .edit-button {
        color: black;

        &:hover,
        &:focus {
            color: black;
        }
    }
}

.input-label {
    margin: 0;
    position: relative;
    top: 10px;
    left: 51px;
    font-weight: bold;
    font-size: 14px;
    color: darkslategrey;
}

.edit-company-buttons {
    margin-top: 10px!important;

    button {
        height: 30px;
        font-size: 13px;
    }
}