.dashboard {
    #companies {
        position: relative;
    }

    .new-company button {
        font-size: 13px;
        color: #e6523b;
        position: absolute;
        top: 10px;
        right: 20px;
        text-decoration: none;
    }

    .dashboard-data {
        .company-items {
            margin: 0 20px;
        }

        .company-item {
            margin: 20px;
            margin-bottom: 20px;
            background-color: #e6523b;
            color: white;
            border-radius: 10px;
            height: 100px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            text-align: center;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            color: #000;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            h2 {
                font-size: 20px;
                position: relative;
                top: 20px;
            }

            p {
                font-size: 15px;
                position: relative;
                top: 50%;
                margin: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.new-company-form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #f3f3f3;
    width: 300px;
    padding: 20px 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    form {
        margin: 0;
    }

    h3 {
        text-align: center;
        margin: 0;
        position: relative;
        top: -5px;
        font-size: 17px;
    }

    .company-inputs {
        font-size: 14px;

        input {
            display: block;
            margin: 10px auto 0;
            height: 35px;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #f3f3f3;
        }
    }

    .form-button {
        width: 200px;
        margin: 0 auto;

        button {
            width: 100%;
            margin-top: 5px;
        }
    }
}